
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   /* MEga Menu */
   .main-menu ul li.mega-menu-dropdown ul {
        padding-left: 10px;
        padding-top: 10px;
    }
    .main-menu ul li.mega-menu-dropdown ul li ul.mega-sub-menu {
        width: 180px;
    }
    /* Top News Area */
    .single-top-news.big-box {
        height: 100%;
    }
    .single-top-news img {
        height: 100%;
    }
    /* Category News */
    ul.tab-menu li a {
        padding: 0.5em 1.1em;
        padding-right: 1.7em;
    }
    form.news-cat-form .select-option {
        width: 28%;
    }
    .single-cat-news .news-img {
        padding-top: 10px;
    }
    /* Picture SLider Section */
    .single-picture-slider .slider-text {
        max-width: 70%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   /* Main Menu Style */
   .main-menu > ul > li {
        display: none;
    }
    .main-menu > ul > li:last-child {
        display: inline-block;
    }
    .main-menu > ul > li:last-child > a {
        font-size: 22px;
    }
    .main-menu ul li.mega-menu-dropdown ul li ul.mega-sub-menu {
        width: 170px;
		}
		/* top News */
		.single-top-news.big-box {
			margin-bottom: 30px;
		}
		/* Category Area */
		ul.tab-menu li a {
			padding: 0.5em 1em;
			padding-right: 2.8em;
		}
		form.news-cat-form .select-option {
			width: 45%;
			margin-bottom: 20px;
		}
		form.news-cat-form .select-option.last {
			width: 79%;
			margin-bottom: 0;
		}
		/* Footer Area */
		.single-footer-wid {
			margin-bottom: 40px;
		}
		.footer-wid-area {
			padding-bottom: 10px;
		}
		.footer-menu ul li {
			margin-right: 7px;
		}
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
   /* Main Menu Style */
   .main-menu > ul > li {
		display: none;
		}
		.main-menu > ul > li:last-child {
				display: inline-block;
		}
		.main-menu > ul > li:last-child > a {
				font-size: 22px;
		}
		.main-menu ul li.mega-menu-dropdown ul li ul.mega-sub-menu {
				width: 170px;
		}
		/* Top NEws */
		.single-top-news.big-box {
			margin-bottom: 30px;
		}
		/* Tab Section */
		ul.tab-menu li a {
			padding: 0.5em 1.1em;
			padding-right: 1.8em;
		}
		/* Category News */
		form.news-cat-form .select-option {
			width: 45%;
			margin-bottom: 20px;
		}
		form.news-cat-form .select-option.last {
			width: 79%;
			margin-bottom: 0;
		}
		/* Picture Slider */
		.single-picture-slider .slider-text {
			max-width: 100%;
		}
		.picture-slider-wrapper .slick-arrow {
			top: -65px;
		}
		/* Footer Area */
		.single-footer-wid {
			margin-bottom: 40px;
		}
		.footer-wid-area {
			padding-bottom: 10px;
		}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}